:root {
	--primary-brand: #4d5ae5;
	--pressed-state: #404bbf;
	--dark: #2e2f42;
	--success: #31d0aa;
	--text: #434455;
	--subtle-text: #8e8f99;
	--accent: #e7e9fc;
	--light: #f4f4fd;
	--modal-overlay: #2e2f42;
	--hero-background: #2e2f42;
	--white-background: #ffffff;
	--modal-background: #fcfcfc;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    background-color: var(--white-background);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
    color: var(--dark);
    text-decoration: none;
}

.first-menu {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
    color: var(--pressed-state);
}

.logo {
    color: var(--primary-brand);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    font-size: 18;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.studio {
    color: var(--dark);
}

.studio-two {
    color: var(--light);
}

.adress-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}

.button {
    color: var(--white-background);
    background-color: var(--primary-brand);
    border: 0;
    cursor: pointer;
}

.button:hover,
.button:focus {
    color: var(--white-background);
    background-color: var(--pressed-state);
    border: 0;
    cursor: pointer;
}

.address {
    font-style: normal;
}

.hero {
    background-color: var(--modal-overlay);
}

.first-header {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-background);
}

.order-service {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.first-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}

.first-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}

.what-we-do {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
}

.team {
    background-color: var(--light);
}

.our-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);    
}

.first-li {
    background-color: var(--white-background);
}

.footer {
    background-color: var(--modal-overlay);
}

.button-port {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand);
    background-color: var(--light);
}

.container {
    width: 1158px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
}

.nav-list {
    display: flex;
    gap: 40px;
    justify-content: center;
}